
body {
    font-family: 'Rowdies';
    text-align: center;
    height: 100vh;
    /* border: 2px solid black; */
    padding: 20px;
    background-color: rgb(103, 192, 81);
}

body, html {
    height: 100%;
}

header, 
footer {
    /* border: 2px solid black;  */
    margin: 8px;
    padding: 10px;
    height: 15%
}

nav {
    border: 2px solid black;
    margin: 10px;
}

nav a {
    margin: 8px;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(89, 138, 179);
    }
    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
            background-color: rgb(175, 175, 175);
        }   

    .logo {
        float: left;
        padding: 12px 15px;
        height: 62px;
        max-width: 220px;
        display: table;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }

    .social {
        display: inline-block;
    
    }
    
    li i {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid black;
    }
    
    li i:hover {
        background-color: rgb(175, 175, 175);
    
    }